@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --headerGradient: linear-gradient(
    90deg,
    #cb53b3 11%,
    #380541 50%,
    #511273 100%
  );
  --boxShadow: 4px 5px 10px rgba(0, 0, 0, 0.4);
  --cardClr: #e3b1df;
  --mainPurple: #672673;
}

body {
  font-size: 16px;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  background-color: #f4e3f1;
}

main {
  display: flex;
}

header {
  text-align: center;
  font-size: 3rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
  background-image: var(--headerGradient);
  color: white;
  padding: 1.4rem 0;
  box-shadow: var(--boxShadow);
  margin-bottom: 0.8rem;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  margin: 0 px;
}

.left-container {
  margin: 1rem;
  flex-direction: column;
  gap: 1.2rem;
  width: 40%;
}
.left-container label,
h4 {
  font-size: 1.7rem;
  font-weight: 600;
}

.left-container input {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 400;
  background-color: #1fabb2;
  border: none;
  border-radius: 5px;
  padding: 0.2rem;
}

.searchbarElement {
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
  margin-left: 1rem;
}
h4 {
  margin-left: 1.6rem;
}

.search-result-container {
  position: relative;
  background-color: var(--cardClr);
  border-radius: 8px;
  box-shadow: var(--boxShadow);
  border: 3px solid #1fabb2;
  margin-bottom: 3rem;
  padding: 1rem 1.5rem;
  max-width: 500px;
}

.list-group {
  gap: 0.5rem;
  border-right: 2px solid rgba(0, 0, 0, 0.12);
  margin-bottom: 2rem;
  margin-left: 1rem;
  padding: 1rem;
}

.right-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-right: 2rem;
  margin-left: 2rem;
  margin-top: 1rem;
}

.btn {
  border: none;
  outline: none;
  background-image: var(--headerGradient);
  border: 2px solid rgba(0, 0, 0, 0.12);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  width: 100%;
  box-shadow: var(--boxShadow);

  background-size: 300%;
  background-position: -3px;
  transition: background-position 500ms;
}

.btn:hover,
.btn:focus {
  outline: none;
  background-position: right;
  border: none;
  border: 2px solid rgba(0, 0, 0, 0.12);
}

.five-day-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0.5rem;
}

.five-day-card {
  background-color: var(--cardClr);
  padding: 0.7rem 1.3rem;
  border-radius: 8px;
  border: 3px solid #1fabb2;
  box-shadow: var(--boxShadow);
}

.forecast-label {
  text-align: center;
}

.uv-index {
  background-color: #14ac88;
  padding: 2px;
  border-radius: 3px;
  margin-left: 2px;
}

.uv-index.low {
  background-color: #34dfb4;
}
.uv-index.medium {
  background-color: #f0ea37;
}
.uv-index.high {
  background-color: #eeaa0c;
}
.uv-index.bad {
  background-color: #af6600;
}
.uv-index.realBad {
  background-color: #e12727;
}
